<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
   <form action="">
        <h1>Ajouter un contact</h1>
        <label for="prenom">Prénom</label>
        <input type="text" name="prenom" placeholder="Prénom">

        <label for="nom">Nom</label>
        <input type="text" name="Nom" placeholder="Nom">

        <label for="telephone">Téléphone</label>
        <input type="text" name="telephone" placeholder="Téléphone">

        <label for="email">Email</label>
        <input type="text" name="email" placeholder="Email">
        <button type="submit" class="dark">Ajouter le contact</button>
        <a href="/">Revenir aux contacts</a>
    </form>
</body>
</html>