<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/updateContact.js" defer></script>
</head>
<body>
   <form action="" method="post" id="form">
        <h1>Modification d'un contact</h1>
        <label for="prenom">Prénom</label>
        <input type="text" name="prenom" placeholder="Prénom" id="prenom">
        <input type="text" name="userId"  id="userId" hidden>

        <label for="nom">Nom</label>
        <input type="text" name="nom" placeholder="Nom" id="nom">

        <label for="telephone">Téléphone (xxx-xxx-xxxx)</label>
        <input type="text" name="telephone" placeholder="Téléphone" id="telephone">

        <label for="email">Email</label>
        <input type="text" name="email" placeholder="Email" id="email">
        <button id="submitBtn" type="submit" class="dark">Ajouter le contact</button>
        <p id="error" hidden></p>
        <a href="/">Revenir aux contacts</a>
    </form>
</body>
</html>