<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/getContacts.js" defer></script>
</head>
<body>
    <section id="header">
        <h1>Contact</h1>
        <button class='dark' onclick="window.location.href='add-contact'">Ajouter un contact</button>
    </section>
    <table id="contacts-table">
        <thead>
            <tr>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Téléphone</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="tbody">
            
        </tbody>
    </table>
</body>
</html>